<div class="row">
    <div class="card col-3">
        <img [src]="fac.FacultyImage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ fac.FacultyName }}</h5>
            <hr />
            <h6 class="card-text">
                Age :- {{ fac.FacultyAge%87 }}
            </h6>
            <h6 class="card-text">
                Designation :- {{ fac.FacultyDesignation }}
            </h6>
            <hr />
            <a routerLink="/fac/edit/{{fac.id}}" class="btn btn-warning">Edit</a>
            <button (click)="deleteFac(fac.id)" class="btn btn-danger ms-2">Delete</button>
            <a routerLink="/fac" class="btn btn-info ms-2">Back</a>

        </div>
    </div>
</div>