<form [formGroup]="myForm">
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                :
            </td>
            <td>
                <input type="text" formControlName="name">
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                :
            </td>
            <td>
                <input type="text" formControlName="age">
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-info" (click)="add()" *ngIf="editIndex == -1">Submit</button>
                <button class="btn btn-info" (click)="edit()" *ngIf="editIndex != -1">Edit</button>
            </td>
        </tr>
    </table>
</form>
<br />
<br />

<table class="table">
    <tr>
        <th>
            NAME
        </th>
        <th>
            AGE
        </th>
        <th>
            DELETE
        </th>
        <th>
            EDIT
        </th>
    </tr>
    <tr *ngFor="let arr of array; let i = index">
        <td>
            {{ arr.name }}
        </td>
        <td>
            {{ arr.age }}
        </td>
        <td>
            <button class="btn btn-danger" (click)="deleteData(arr)">Delete</button>
        </td>
        <td>
            <button class="btn btn-warning px-3" (click)="editData(i)">Edit</button>
        </td>
    </tr>
</table>