<nav class="navbar navbar-expand-lg bg-body-tertiary p-1" data-bs-theme="dark" style="font-size: 15px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="./" style="font-size: 15px;">Angular-Website</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" aria-disabled="true">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faculty" aria-disabled="true">Faculties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exp10faculty" aria-disabled="true">10+year </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/counter" aria-disabled="true">Counter </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form" aria-disabled="true">Form </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/updateform" aria-disabled="true">Update-Form </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer mt-auto py-2 ps-3 bg-black">
  <div class="container-fluid">
    <span class="text-white">© 2024 My Website</span>
  </div>
</footer>